<!DOCTYPE html>
<html>
<head>
    <title> Download</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>

<form action="/data/loadlink">
    Category: <input type="text" name="category" required value=""><br> <br>
    Page: <input type="number" name="page" required value=""><br> <br>
    Length Download: <input type="number" required name="num" ><br> <br>
    <input type="submit" value="Submit" required>
</form>

</body>
</html>
